html {
    min-height: 100%;
    position: relative;
}

body {
    margin-top: 100px;
    padding-bottom: 100px;
}

.footer {
    background-color: #e1e1e1;
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px;
}